Alejandro de la Vega <delavega@utexas.edu> adelavega <delavega@utexas.edu>
Christopher J. Markiewicz <markiewicz@stanford.edu> Chris Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu> Chris Markiewicz <markiewicz@stanford.edu>
Dave F. Kleinschmidt <dave.f.kleinschmidt@gmail.com> Dave Kleinschmidt <dave.f.kleinschmidt@gmail.com>
Jean-Baptiste Poline <jbpoline@gmail.com> JB <jbpoline@gmail.com>
Jean-Baptiste Poline <jbpoline@gmail.com> JB Poline <jbpoline@gmail.com>
Jean-Baptiste Poline <jbpoline@gmail.com> Jean-Baptiste Poline <jbpoline@users.noreply.github.com>
John A. Lee <johnleenimh@gmail.com> leej3 <johnleenimh@gmail.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> Chris Gorgolewski <krzysztof.gorgolewski@gmail.com>
Pauline Roca <roca.pauline@gmail.com> PaulineRoca <roca.pauline@gmail.com>
Quinten McNamara <quinten.mcnamara@gmail.com> qmac <quinten.mcnamara@gmail.com>
Russell Poldrack <russpold@stanford.edu> Russell A. Poldrack <poldrack@gmail.com>
Russell Poldrack <russpold@stanford.edu> poldrack <poldrack@gmail.com>
Tal Yarkoni <tyarkoni@gmail.com> tyarkoni <tyarkoni@gmail.com>
Valérie Hayot-Sasson <valeriehayot@gmail.com> Valerie Hayot-Sasson <valeriehayot@gmail.com>
Yaroslav O. Halchenko <debian@onerussian.com> Yaroslav Halchenko <debian@onerussian.com>
